<div class="menuLateral">
    <div class="opciones">
        <h6>Analysis</h6>
        <ul>
            <li><a routerLink="/dashboard">Inicio</a></li>
            <li><a routerLink="/dashboardcenso">Censo Poblacional</a></li>
            <li><a routerLink="/consultar">Consultas</a></li>
            <li><a href="">Reportes</a></li>
        </ul>
        <h6>Admin Access</h6>
        <ul>
            <li><a href="">Actualización Censo</a></li>
            <li><a href="">Novedades Censo</a></li>
            <li><a routerLink="/dashboardnu">Administrador</a></li>
        </ul>
        <h6>More Menu</h6>
    </div>
</div>
