<div id="area">
    <app-menusuperior></app-menusuperior>
    <app-menulateral></app-menulateral>
    
    <div class="contenedor">
        <h2>Registrar vivienda</h2>
        <div class="container" id="formulario">
            <div class="row" id="form">
                <div class="class col-12 col-md-6" id="formulario-izq">
                    <h3>Datos básicos de la vivienda</h3>
                    <label for="textoRol">Departamento</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>opcion</option>
                        <option>opcion</option>
                        <option>opcion</option>
                    </select>
                    <label for="textoRol">Municipio</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>opcion</option>
                        <option>opcion</option>
                        <option>opcion</option>
                    </select>
                    <label for="textoRol">Vereda</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>opcion</option>
                        <option>opcion</option>
                        <option>opcion</option>
                    </select>
                    <label for="textoRol">Ubicación de la vivienda</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Al lado del rio</option>
                        <option>Al lado de la carretera</option>
                    </select>
                    <label for="textoNombres">Número de familias</label>
                    <input type="text" class="form-control" placeholder="Digíte acá">
                    <label for="textoNombres">Número de habitaciones ocupadas</label>
                    <input type="text" class="form-control" placeholder="Digíte acá">

                    <h3 class="title2">Servicios básicos de la vivienda</h3>
                    <h4>Suministro de agua</h4>
                </div>
                    
                <div class="class col-12 col-md-6" id="formulario-der">
                    <label for="textoRol">Departamento</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>opcion</option>
                        <option>opcion</option>
                        <option>opcion</option>
                    </select>

                    <label for="textoRol">Distrito</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>opcion</option>
                        <option>opcion</option>
                        <option>opcion</option>
                    </select>

                    <label for="textoRol">La vivienda es</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Propia</option>
                        <option>Familiar</option>
                        <option>Arriendo</option>
                    </select>
                </div>

                <div class="checkbox">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">No tiene</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Agua lluvia</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Ojo de agua</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Aljibe</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Acueducto veredal</label>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Acueducto regional</label>
                    </div>
                </div>

                <div class="class col-12 col-md-6" id="formulario-izq">
                    
                    <label for="textoRol">Servicio de internet</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Si tiene</option>
                        <option>No tiene</option>
                    </select>
                    <label for="textoRol">Servicio sanitario</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Inodoro conectado a pozo séptico</option>
                        <option>Inodoro conectado a alcantarillado</option>
                        <option>Inodoro sin conexión</option>
                        <option>Vivienda sin servicio sanitario</option>
                    </select>
                    
                </div>
                    
                <div class="class col-12 col-md-6" id="formulario-der">
                    <label for="textoRol">Tipo de servicio de energía</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>No tiene</option>
                        <option>Eólica</option>
                        <option>Solar fotovoltaica</option>
                    </select>
                </div>
                
                <div  id="botones">
                    <div id="btn1">
                        <button><a routerLink="/resumenvivienda">Siguiente</a></button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

