<div class="container">
    <div class="row">
        <div class="class col-12 col-md-6">
            <img src="assets/mision.jpg" alt="">
        </div>
        <div class="class col-6 col-md-6" id="cuadroTexto">
            <h1>Visión</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quas porro asperiores ducimus optio, quam consequuntur blanditiis reprehenderit sapiente inventore minima quae. Pariatur dignissimos voluptatum ut. Corporis repudiandae et optio.</p>
        </div>
        
    </div>
</div>
