<div id="area">
    <app-menusuperior></app-menusuperior>
    <app-menulateral></app-menulateral>
    
    <div class="contenedor">
        <h2>Registro de persona</h2>
        <div class="container" id="formulario">
            <div class="row" id="form">
                <div class="class col-12 col-md-6" id="formulario-izq">
                    <label for="textoRol">Tipo de documento</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>RC</option>
                        <option>TI</option>
                        <option>CC</option>
                    </select>
                    <label for="textoNombres">Nombres</label>
                    <input type="text" class="form-control" placeholder="Digíte sus nombres">
                    <label for="textoRol">Parentesco</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>CF</option>
                        <option>ES</option>
                        <option>HI</option>
                    </select>
                    <label for="exampleInputEmail1">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="start" aria-describedby="inputText" value="2024-07-08" min="1930-01-01" max="2024-12-31"/>
                    <label for="textoCargo">Carnet de salud</label>
                    <input type="text" class="form-control" placeholder="Escriba su cargo">
                    <label for="textoCargo">Profesión</label>
                    <input type="text" class="form-control" placeholder="Escriba su cargo">
                    
                    <label for="textoRol">Nivel Educativo</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Técnico</option>
                        <option>Tecnólogo</option>
                        <option>Profesional</option>
                        <option>Especialización</option>
                        <option>Maestria</option>
                        <option>Doctorado</option>
                    </select>

                    <label for="textoCargo">¿Presenta alguna enfermedad?</label>
                    <input type="text" class="form-control" placeholder="Escriba su cargo">

                    <label for="textoRol">¿Utiliza el vestido?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Todos los días</option>
                        <option>En ocasiones</option>
                        <option>Nunca</option>
                    </select>

                    <label for="textoRol">¿Eres médico tradicional?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Partero(a)</option>
                        <option>Sobandero(a)</option>
                        <option>Pulsador(a)</option>
                        <option>Moropik</option>
                    </select>

                    <label for="textoRol">¿Qué actividades propias realiza con más frecuencia dentro del territorio?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Participa a asambleas</option>
                        <option>Recorrido de los límites</option>
                        <option>Compartir la palabra con los Shures</option>
                        <option>Otros</option>
                    </select>

                    <label for="textoRol">¿Ha realizado baños (pishimarop) en las diferentes etapas de la vida?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Niñez</option>
                        <option>Jueventud</option>
                        <option>Adulto mayor</option>
                        <option>Ninguno</option>
                    </select>

                    <label for="textoRol">¿Escribes el Namuy Wam?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Sí, escribo</option>
                        <option>Escribo pero no hablo</option>
                        <option>No escribo</option>
                    </select>

                    <label for="textoRol">¿Usted consume?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Alcohol</option>
                        <option>Cigarrillo</option>
                        <option>Sustancias psicoactivas</option>
                    </select>
                </div>
                    
                <div class="class col-12 col-md-6" id="formulario-der">
                    <label for="textoNdoc">Numero de documento</label>
                    <input type="text" class="form-control" placeholder="Digíte su número de documento">
                    <label for="textoApellidos">Apellidos</label>
                    <input type="text" class="form-control" placeholder="Digíte sus apellidos">
                    <label for="textoRol">Estado civil</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Soltero</option>
                        <option>Casado</option>
                        <option>Unión libre</option>
                    </select>
                    <label for="textoRol">Género</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>M</option>
                        <option>F</option>
                    </select>
                    <label for="textoRol">Número del integrante</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    
                    <label for="exampleInputEmail1">Año de finalización</label>
                    <input type="date" class="form-control" id="start" aria-describedby="inputText" value="2024-07-08" min="1990-01-01" max="2024-12-31"/>
                    <label for="textoApellidos">Nombre de la carrera</label>
                    <input type="text" class="form-control" placeholder="Digíte sus apellidos">
                    <label for="textoApellidos">¿Presenta alguna capacidad diversa?</label>
                    <input type="text" class="form-control" placeholder="Digíte sus apellidos">

                    <label for="textoRol">Idiomas que usted habla</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Namtrik</option>
                        <option>Español</option>
                        <option>Nasayuwe</option>
                        <option>Otros</option>
                    </select>

                    <label for="textoRol">Conocimientos empiricos</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Artesania</option>
                        <option>Músico(a)</option>
                        <option>Deportes</option>
                        <option>Otros</option>
                    </select>

                    <label for="textoRol">Medicinas alternativas</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Acopuntura</option>
                        <option>Aromaterapia</option>
                        <option>Temascal</option>
                        <option>Otros</option>
                    </select>

                    <label for="textoRol">¿Hablas el Namuy Wam?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Si hablo</option>
                        <option>Entiendo, pero no hablo</option>
                        <option>No hablo</option>
                    </select>

                    <label for="textoRol">¿Hablas en español?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Si hablo</option>
                        <option>Entiendo, pero no hablo</option>
                        <option>No hablo</option>
                    </select>

                    <label for="textoRol">¿Conoces lugares sagrados?</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Si </option>
                        <option>No</option>
                        <option>Otros</option>
                    </select>
                </div>
                
                <div  id="botones">
                    <div id="btn1">
                        <button >Guardar</button>
                    </div>
                    <div id="btn2">
                        <button >Limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
