<div id="area">
    <app-menusuperior></app-menusuperior>
    <app-menulateral></app-menulateral>
    
    <div class="contenedor">
        <h2>Bienvenido autoridad (UserName) <br> a WAM</h2>
        <div class="cards">
            <div class="card1">
                <button><a routerLink="/registrarvivienda">Registrar vivienda</a></button>
                <button><a routerLink="">Registrar hogar en vivienda</a></button>
                <button><a routerLink="/nuevapersona">Registrar persona en familia</a></button>
            </div>
            <div class="card2">
                <button>Solicitar retiro de persona</button>
                <button>Actualizar datos</button>
                <button>Descargar reporte actualizado</button>
            </div>
        </div>
    </div>
</div>


