<div class="container">
    <h1>Educación</h1>

    <div class="row">
        <div class="class col-12 col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wr3nON9Liec?si=tzZZd1-5i24edGpl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="class col-6 col-md-6" id="cuadroTexto">
            <h2>Institución educativa técnico agroambiental Ala Kusrei Ya Misak Piscitau</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quas porro asperiores ducimus optio, quam consequuntur blanditiis reprehenderit sapiente inventore minima quae. Pariatur dignissimos voluptatum ut. Corporis repudiandae et optio.</p>
        </div>

    </div>
</div>

