
<div id="area">
    <app-menusuperior></app-menusuperior>
    <app-menulateral></app-menulateral>

    <div class="contenedor">
        <div class="title">
            <h1>Reportes</h1>
        </div>
        <div class="cards">
            <div class="card1">
                <h3>Usuarios del  sistema Wam</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quo in quidem et, fugiat provident impedit iste odit, accusantium itaque nisi, ut dignissimos delectus ullam id obcaecati cupiditate quisquam voluptatum.</p>
                <div class="btn">
                    <button><a routerLink="/dashboardnu">Usuarios</a></button>
                </div>
            </div>
            <div class="card2">
                <h3>Validación de retiro del censo poblacional</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda porro mollitia accusamus praesentium quas laudantium, illum obcaecati tempore sunt non tenetur dolores doloremque. Aliquam recusandae nostrum at dolor sed quibusdam?</p>
                <div class="btn">
                    <button>Validar</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
