<div id="area">

    <app-menusuperior></app-menusuperior>
    <app-menulateral></app-menulateral>

    <div class="contenedor">
        <h2>Búsqueda en la base de datos</h2>
        <div class="container" id="formulario">
            <div class="row" id="form">
                <div class="class col-12 col-md-6" id="formulario-izq">
                    
                    <label for="textoRol">Buscar por</label>
                    <select id="inputState" class="form-control">
                        <option selected>Seleccione...</option>
                        <option>Identificacion</option>
                        <option>Vereda</option>
                        <option>Distrito</option>
                    </select>
                </div>
                    
                <div class="class col-12 col-md-6" id="formulario-der">
                    <label for="textoApellidos">Ingrese parámetro de búsqueda</label>
                    <input type="text" class="form-control" placeholder="Digíte sus apellidos">
                </div>
                <div id="botones">
                    <button>Buscar</button>
                </div>
                
            </div>
        </div>
    </div>
</div>



